<div class="app-header">
  <div class="app-header-container gd-spacing-padding-squish">
    <div class="app-header-main-section">
      <a
        class="app-logo"
        target="_blank"
        title="Go to GiftDibs.com"
        [attr.href]="siteUrl"
      >
        <gd-thumbnail
          imageSource="assets/icon-128x128.png"
          size="xs"
          type="user"
        >
        </gd-thumbnail>
      </a>
    </div>

    <div class="app-header-user-section">
      <ng-container *ngIf="sessionUser">
        <a
          class="app-header-link"
          href="{{ siteUrl }}/users/{{ sessionUser?.id }}"
          target="_blank"
          title="Visit profile"
        >
          <gd-thumbnail
            size="xs"
            type="user"
            [imageSource]="sessionUser.avatarUrl"
          >
          </gd-thumbnail>
        </a>
        <button
          class="gd-button gd-button-link app-header-link"
          type="button"
          (click)="logout()"
        >
          Log out
        </button>
      </ng-container>
    </div>
  </div>
</div>
