<h1 class="app-heading">
  Log in
</h1>

<form
  aria-label="Log in to GiftDibs"
  [formGroup]="loginForm"
  (ngSubmit)="submit()"
  novalidate
>
  <gd-form-field [errors]="errors">
    <input
      class="gd-form-control"
      formControlName="emailAddress"
      placeholder="Email address"
      type="email"
    />
  </gd-form-field>

  <gd-form-field [errors]="errors">
    <input
      class="gd-form-control"
      formControlName="password"
      placeholder="Password"
      type="password"
    />
  </gd-form-field>

  <button
    class="gd-button gd-button-primary"
    type="submit"
    [disabled]="loginForm.disabled"
  >
    Log in
  </button>
</form>
